@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--color-primary: rgb(66, 133, 244);
	--color-secondary: rgb(151, 151, 151);
	--color-border: #dedede;
	--text-primary: #616161;
	--text-secondary: #b3b3b3;
	--bg-primary: #ffffff;
	--bg-secondary: #e4e4e4;
	--transition: all 0.3s ease-in;
	--font-large: 16px;
	--font-medium: 13px;
	--font-small: 11px;
	--font-size-icon-sm: 18px;
	--font-size-icon-lg: 22px;
}

body {
	font-family: "Poppins", sans-serif;
	line-height: 1.7;
	width: 325px;
	min-height: 240px;
	border-radius: 5px;
	font-size: var(--font-medium);
	font-weight: 400;
}

.header__container {
	border-bottom: 1px solid var(--color-border);
}

.header__title {
	display: flex;
	align-items: center;
	padding: 0.5rem 0 0 0.5rem;
}

.header__title h3 {
	font-size: var(--font-large);
	font-weight: 500;
	text-align: center;
	color: var(--text-primary);
}

.header__title > i {
	padding-right: 0.5rem;
	font-size: var(--font-size-icon-lg);
	color: var(--color-primary);
}

.header__subtitle {
	padding: 0 0 0.3rem 0.5rem;
	font-size: var(--font-small);
	color: var(--text-secondary);
}

footer {
	text-align: center;
	padding: 0.5rem 0;
	border-top: 1px solid var(--color-border);
}

footer > p {
	font-weight: 400;
	font-size: var(--font-small);
	color: var(--text-primary);
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	width: 90px;
	height: 30px;
	font-size: var(--font-small);
	border-radius: 2rem;
	border: none;
	transition: var(--transition);
}

.btn-primary {
	background: var(--color-primary);
	color: #fff;
}

.btn-primary:hover {
	filter: brightness(0.8);
}

.btn-secondary {
	background: var(--color-secondary);
	color: #fff;
}

.btn-secondary:hover {
	filter: brightness(0.8);
}

#TargetTo {
	width: 150px;
}

.snippets-dropdow__title {
	min-width: 120px;
	min-height: 20px;
	background: #fff;
	color: #000;
	position: absolute;
	display: none;
	top: 48px;
	left: 26px;
	z-index: 10;
	border: 1px solid #98afcc;
	border-radius: 2px;
}

.recommend-item {
	padding: 0.3rem 0.4rem;
	transition: all 0.2s ease-in;
}

.recommend-item.active,
.recommend-item:hover {
	cursor: pointer;
	background: #ccc;
}

b.red {
	color: red;
}

main {
	position: relative;
	overflow: hidden;
}

.container__slides {
	overflow: hidden;
	position: relative;
	display: flex;
}

.home__container,
.estimate__container,
.target__container,
.setting__container {
	padding: 0.5rem 1rem;
	visibility: hidden;
	transition: var(--transition);
	min-width: 100%;
}
.home__container {
	visibility: visible;
	transform: translateX(-100%);
}
.home__container.active {
	visibility: visible;
	transform: translateX(0%);
}
.estimate__container.active {
	visibility: visible;
	transform: translateX(-100%);
}
.target__container.active {
	visibility: visible;
	transform: translateX(-200%);
}
.setting__container.active {
	visibility: visible;
	transform: translateX(-300%);
}

/* ============================ HOME ============================ */

.home__status-detail {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.home__feature {
	margin: 0.5rem 0;
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;
}

.home__feature-detail {
	transition: var(--transition);
}

.home__feature-btn {
	font-size: var(--font-medium);
	background-color: var(--bg-secondary);
	cursor: pointer;
	border-radius: 5px;
	border: transparent;
	outline: none;
	min-width: 100%;
	height: 40px;
	text-align: left;
	padding: 0 0.7rem 0 1rem;
}

.home__feature-btn p {
	display: inline-block;
}

.home__feature-btn > i:first-child {
	font-size: var(--font-size-icon-sm);
	padding-right: 0.7rem;
	float: left;
	color: var(--color-primary);
}

.home__feature-btn > i:last-child {
	font-size: var(--font-size-icon-sm);
	float: right;
}
.home__feature-detail:hover {
	filter: brightness(0.95);
}

.option__icon {
	font-size: var(--font-large);
	color: var(--color-primary);
}

/* ============================ ESTIMATE FORM ============================ */

.form__group {
	display: grid;
	grid-template-columns: 80px 1fr;
	margin: 0.3rem 0;
}

.form__group .form__group-title {
	font-size: var(--font-small);
	font-weight: 400;
	margin: auto 0;
}

/* ============================ TOGGLE BUTTON ============================ */
.btn__toggle {
	display: flex;
}

.btn__toggle-label {
	cursor: pointer;
	position: relative;
	display: inline-block;
	width: 46px;
	height: 26px;
	background-color: #bdc1c6;
	border-radius: 40px;
}

.btn__toggle-label::after {
	content: "";
	position: absolute;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	background-color: #fff;
	top: 2px;
	left: 2px;
	transition: all 0.5s;
}

.btn__toggle-checkbox:checked + .btn__toggle-label::after {
	background-color: #006eff;
	left: 22px;
}

.btn__toggle-checkbox:checked + .btn__toggle-label {
	background-color: #8db9f4;
}

.btn__toggle-checkbox {
	display: none;
}

/* ============================ SELECT ============================ */

.dropdown__select {
	position: relative;
	border: 1px solid var(--color-border);
	min-height: 40px;
	max-height: 73px;
	overflow-y: auto;
	border-radius: 3px;
	background-color: #fff;
}

.select__menu {
	max-width: 240px;
	position: relative;
}

.selected__list {
	padding: 0.3rem 1rem 0.3rem 0.3rem;
	display: flex;
	flex-wrap: wrap;
	cursor: pointer;
	align-items: center;
	gap: 0.3rem;
	z-index: 2;
	transition: var(--transition);
}

.selected__list:hover {
	border-color: var(--color-primary);
}

.selected__list > i {
	position: absolute;
	right: 5px;
	transition: var(--transition);
}

.select__menu.open_list .selected__list > i {
	transform: rotate(-180deg);
}

.select__item-selected {
	padding: 0.2rem 0.2rem 0.2rem 0.4rem;
	background: var(--bg-secondary);
	border-radius: 5px;
	transition: var(--transition);
	display: flex;
	border-color: transparent;
	align-items: center;
}

.select__item-selected:hover {
	filter: brightness(0.8);
}

.select__item-selected.remove {
	opacity: 0;
	visibility: hidden;
}

.select__item-selected span {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden !important;
	width: 60px;
}

.select__group {
	position: absolute;
	max-height: 90px;
	overflow-y: auto;
	z-index: 1;
	border: 1px solid var(--color-border);
	border-radius: 0 0 3px 3px;
	opacity: 0;
	transform: translateY(-35px);
	pointer-events: none;
	animation: 0.3s alternate SelectSlideUp;
}

#targetTo .selected__list {
	z-index: 4;
}

#targetTo .select__group {
	z-index: 3;
}

.select__menu.open_list .select__group {
	pointer-events: inherit;
	animation: 0.3s alternate SelectSlideDown;
	opacity: 1;
	transform: translateY(-1px);
	width: 100%;
	background: var(--bg-primary);
}

.select__option {
	padding: 0.3rem 0.4rem;
	background: #fff;
	transition: var(--transition);
	cursor: pointer;
	text-align: left;
}

.select__option:hover {
	background: var(--color-secondary);
}

@keyframes SelectSlideUp {
	from {
		opacity: 1;
		transform: translateY(0);
	}
	to {
		opacity: 0;
		transform: translateY(-35px);
	}
}

@keyframes SelectSlideDown {
	from {
		opacity: 0;
		transform: translateY(-35px);
	}
	to {
		opacity: 1;
		transform: translateY(0%);
	}
}
